<ion-view title="Login">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content class="has-header">

    <form name="loginForm" ng-submit="login(username, password)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="armandito415" ng-model="username"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="It's super secret." ng-model="password"></input>
        </label>
      </div>
      <button type="submit" class="button button-full button-dark">Login</button>
    </form>

  </ion-content>
</ion-view>
