<ion-view title="Famished" class="splash">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="logo">
      famished
    </div>

    <div class="splashButtons">
      <a href="#/app/login" class="button button-block button-light">
        <span class="icon ion-log-in iconbuffer"></span>
        Login
      </a>
      <a href="#/app/customer/signup" class="button button-block button-assertive">
        <span class="icon ion-person iconbuffer"></span>
        Customer Sign-Up
      </a>
      <a href="#/app/restaurant/signup" class="button button-block button-assertive">
        <span class="icon ion-home iconbuffer"></span>
        Restaurant Sign-Up
      </a>
    </div>

  </ion-content>
</ion-view>
