<ion-view title="Famished" class="splash">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="logo">
      fam<span class="icon ion-spoon"></span>shed
      </br><span class="motto">An app for the hungry</span>
    </div>

    <div class="splashButtons">
      <a href="#/app/login" class="button button-block button-balanced">
        <span class="icon ion-log-in iconbuffer"></span>
        Login
      </a>
      <a href="#/app/customer/signup" class="button button-block button-positive">
        <span class="icon ion-person iconbuffer"></span>
        Customer Sign-Up
      </a>
      <a href="#/app/restaurant/signup" class="button button-block button-positive">
        <span class="icon ion-home iconbuffer"></span>
        Restaurant Sign-Up
      </a>
    </div>

  </ion-content>
</ion-view>
