<ion-view title="Restaurant App">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <style>
      ion-view {
        background: url('https://photos-2.dropbox.com/t/0/AADHDablgeXbH_RuquhrnCWWXsZHLmVj12DvL02ZrhG2nA/12/28091402/jpeg/1024x768/3/1409702400/0/2/pizzaTitle.jpg/clyvkI9YfxFYrsOuhgOIhKc5tQP1DuGV-fkmcIFuPA4%2Cy1v_y5-AWNvrrbKgbgUAt2-Kg_5etJuzSHWEE8xVIGU') no-repeat center;
        background-size: auto 100%;
      }
    </style>
  </ion-content>
</ion-view>
