a {
  text-decoration: none;
}

.splash {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url('../img/pizzaTitle.jpg') no-repeat center;
  background-size: auto 100%;
}

/* adds space btw icon and text in buttons */
.iconbuffer {
  margin-right: 10px;
}

.splashBottom {
  margin-top:70%;
}