<!-- Restaurant's bottom tabs menu -->
<ion-nav-bar class="nav-title-slide-ios7 bar-positive">
  <ion-nav-back-button class="button-icon ion-arrow-left-c">
  </ion-nav-back-button>
</ion-nav-bar>
         
<ion-nav-view animation="slide-left-right"></ion-nav-view>

<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Availability" icon="ion-toggle" href="#/restaurant/availability">
    <ion-nav-view name="restaurant/availability-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Interested Customers" icon="ion-person-stalker" href="#/restaurant/interested-customers">
    <ion-nav-view name="restaurant/interested-customers-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>