<ion-view title="Restaurant: Sign-Up">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <form name="restaurantSignUp" ng-submit="signup(username, password, restaurantName, address, priceRange, cuisine, email, phoneNumber)">

      <!-- Todo: Possibly to upload restaurant image? -->
      <!-- Mai to David: not sure how to do this, so commented out for now. -->
      <!-- <input type="file" accept="image/*"></input> -->

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="foodie415" ng-model="username"></input>
        </label>           
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="It's a secret!" ng-model="password"></input>
        </label>        
        <label class="item item-input item-stacked-label">
          <span class="input-label">Restaurant Name</span>
          <input type="text" placeholder="Zuni Cafe" ng-model="restaurantName"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="944 Market Street, San Francisco, CA" ng-model="address"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Price Range</span>
          <input type="text" placeholder="A number between 1 to 5, low to high" ng-model="priceRange"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Cuisine</span>
          <input type="text" placeholder="American" ng-model="cuisine"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input type="text" placeholder="contact@zunicafe.com" ng-model="email"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone Number</span>
          <input type="text" placeholder="415-555-5555" ng-model="phoneNumber"></input>
        </label>
      </div>
      <button type="submit" class="button button-full button-assertive">Sign me up!</input>
    </form>

  </ion-content>
</ion-view>
