<ion-view title="Restaurant: Sign-Up">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <form name="restaurantSignUp">
      <input type="text" placeholder="Restaurant Name"></input>
      <input type="text" placeholder="Address"></input>
      <input type="text" placeholder="Price Range (a number between 1 to 5, low to high)"></input>
      <input type="text" placeholder="Cuisine"></input>
      <input type="text" placeholder="Email"></input>
      <input type="text" placeholder="Phone Number (e.g. 415-555-5555)"></input>
      <input type="password" placeholder="Password"></input>
      <!-- Todo: Possibly to upload restaurant image? -->
      <input type="file" accept="image/*"></input>

      <p></p>
      <input type="submit" value="Sign me up!"></input>
    </form>

  </ion-content>
</ion-view>
