a {
  text-decoration: none;
}

.splash {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0)
    ),
    url('../img/splash_repeat.png') repeat;
}

/* add space btw icon and text in buttons */
.iconbuffer {
  margin-right: 10px;
}

div.logo {
  margin-top: 50%;
  text-align: center;
  font-family: 'Chewy', cursive;
  font-size: 5em;
  line-height: 0.8em;
  color: white;
  text-shadow: 2px 2px black;
  text-transform: lowercase;
}

div.splashButtons {
  margin: auto;
  margin-top: 30%;
  width: 90%;
}

select {
  width: 50%;
  background-color: white;
  border: 1px solid black;
}

.error {
  color: red;
}