a {
  text-decoration: none;
}

.splash {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ),
    url('../img/pizzaTitle.jpg') no-repeat center;
  background-size: auto 100%;
}

/* add space btw icon and text in buttons */
.iconbuffer {
  margin-right: 10px;
}

div.splashButtons {
  margin: auto;
  margin-top: 75%;
  width: 90%;
}

form[name="customerSignUp"] input[type="submit"], form[name="restaurantSignUp"] input[type="submit"] {
  margin: auto;
  width: 95%;
}