<ion-nav-bar class="nav-title-slide-ios7 bar-positive">
  <ion-nav-back-button class="button-icon ion-arrow-left-c">
  </ion-nav-back-button>
</ion-nav-bar>
         
<ion-nav-view animation="slide-left-right"></ion-nav-view>

<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Search Criteria" icon="ion-search" href="#/customer/search-criteria">
    <ion-nav-view name="customer/search-criteria-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Search Results" icon="ion-pizza" href="#/customer/search-results">
    <ion-nav-view name="customer/search-results-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>