<ion-view title="Search Criteria">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content class="has-header">

    <!-- todo: Try to use forms' native 'action' and 'method' attributes to submit request to server (http://www.w3schools.com/tags/att_form_method.asp) -->
    <form name="searchCriteria" ng-submit="getSearchResults(distance, priceRange, partySize, cuisine)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Distance (mi)</span>
          <select name="distance" ng-model="distance">
            <option value="0.25">0.25</option>
            <option value="0.5">0.5</option>
            <option value="1.0">1.0</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Price Range</span>
          <select name="priceRange" ng-model="priceRange">
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
            <option value="4">$$$$</option>
            <option value="5">$$$$$</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Party Size</span>
          <input type="text" name="party-size" placeholder="e.g. 6" ng-model="partySize"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Cuisine</span>
          <input type="text" ng-model="cuisine" placeholder="e.g. American"></input>
        </label>
      </div>
      <button class="button button-full button-assertive" type="submit">Find me some restaurants!</button>
    </form>

  </ion-content>
</ion-view>
