<ion-view title="Search Criteria">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content class="has-header">

    <!-- todo: Try to use forms' native 'action' and 'method' attributes to submit request to server (http://www.w3schools.com/tags/att_form_method.asp) -->
    <form name="searchCriteria" ng-submit="getSearchResults(distance, priceRange, partySize, cuisine)">
      Distance (mi): 
      <select name="distance" ng-model="distance">
        <option value="0.25">0.25</option>
        <option value="0.5">0.5</option>
        <option value="1.0">1.0</option>
      </select>

      <p></p>
      Price: 
      <select name="priceRange" ng-model="priceRange">
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
        <option value="5">$$$$$</option>
      </select>

      <p></p>
      Party Size: 
      <input type="text" name="party-size" placeholder="Example: 6" ng-model="partySize"></input>

      <!-- Todo: Cuisine drop-down list will be populated by GET request for all cuisine types available in database -->
      <p></p>
      Cuisine: 
      <select name="cuisine" ng-model="cuisine">
        <!-- Todo: Hard-coded cuisines -->
        <option value="american">American</option>
        <option value="japanese">Japanese</option>
        <option value="chinese">Chinese</option>
      </select>

      <p></p>
      <button class="button button-full button-assertive" type="submit">Find me some restaurants!</button>
    </form>

  </ion-content>
</ion-view>
