
<ion-view title="Customer: Sign-Up">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <form name="customerSignUp" ng-submit="signup(username, firstName, lastName, email, phoneNumber, password)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="armandito415" ng-model="username"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="Armando" ng-model="firstName"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Perez" ng-model="lastName"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input type="text" placeholder="armanditoperez@gmail.com" ng-model="email"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone Number</span>
          <input type="text" placeholder="415-555-5555" ng-model="phoneNumber"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="It's super secret." ng-model="password"></input>
        </label>
      </div>
      <button type="submit" class="button button-full button-assertive">Sign me up!</input>
    </form>

  </ion-content>
</ion-view>
